* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddddbb;
}

#wrapper {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #eeeeee;
}

header img {
  width: 100%;
  display: block;
  max-height: 400px;
}

nav {
  background-color: darkcyan;
  display: flex;
}

.menu {
  display: block;
  width: 25%;
  padding: 15px 0px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-right: 1px dotted darkblue;
  transition: all 0.2s ease-out;
  font-size: 16px;
  line-height: 20px;
}

nav a:last-child  {
  border-right: none;
}

.menu:hover,
.active {
  background-color: crimson;
}

.menu:hover {
  font-size: 20px;
}

article {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0 20px;
}

article h1 {
  font-size: 30px;
  text-align: center;
  margin: 0 20% 20px 20%;
  padding-bottom: 15px;
  border-bottom: 2px solid crimson;
}

img.left {
  float: left;
  margin: 0px 10px 10px 0;
  width: 20%;
  border-radius: 50% 20%;
}

article p {
  text-align: justify;
  line-height: 25px;
  font-size: 18px;
  padding: 15px 0;
}

iframe {
  width: 100%;
}

footer {
  height: 40px;
  background-color: darkcyan;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  margin-top: 10px;
}

section {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo {
  margin: 10px 0;
  width: 120px;
  background-color: #ffffff;
  padding: 10px;
  opacity: 0.7;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.photo img {
  flex-basis: 100%;
  width: 100px;
  height: auto;
}

.photo figcaption {
  margin-top: 10px;
}